$nav__color: #2E3E4E;
$nav__color-active: #253141;
$line__navtop-color: #f27e61;
$input__outline-color: #4cc6df;
$btn__primary-color: #F58457;
$btn__primary-outline: #F27E61;
$btn__default-outline: #e7b5b7;
$btn__default-textcolor: #e6a2a4;
$bc__color: #42455A;
$primary__color: #fff;
$secondary__color: #9b9999;
$text__color: #646D71;
$primary__icon-color: #EC862C;
$secondary__icon-color: #F1785B;
$tertiary__icon-color: #27C0DF;
$text__heading-color: #4CC6DF;
